body {
  font-family: sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #9ad3bc;
  overflow: hidden;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 100%;
  background-color: #f3eac2;
  margin: 10px auto;
}



.title-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec524b;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
}

.left-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#brain {
  margin-right: 10px;
}

.right-title-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.right-title-container > div {
  margin: 0 10px;
}

#star {
  color: white;
}

#score {
  margin: 0 5px;
}


.middle-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container{
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.question-details {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px
  /* flex-direction: column; */
}

#difficulty {
  padding: 10px;
}

#category{
  padding: 10px;
}

.the-question {
  padding: 10px;
  margin-bottom: 50px;
  font-size: 35px;
  text-align: center;
}

.choices-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
      overflow-wrap: anywhere;
}

.choices-li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.answer-btns {
  background-color: #f5b461; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 180px;
  cursor: pointer;
}

.choices-li:hover .answer-btns {
  background-color: white;
  color: #f5b461;
}

.game-over-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: blue; */
  color: #9ad3bc;
}

#game-over-text {
  margin: 20px auto;
  font-size: 35px;
}

#restart {
  font-size: 50px;
  cursor: pointer;
}

#restart:hover {
  font-size: 50px;
  color: #ec524b;
  cursor: pointer;
}

.stats-container {
  text-align: center;
  margin: 20px auto;
}

#stats-score {
 margin: 10px;
}

.social-icon-container {
  display: flex;
  justify-content: center;
}

.social-icons {
  margin: 10px;
  font-size: 30px;
  color: #ec524b;
  cursor: pointer;
}

.social-icons:hover {
  color: white;
}

#trash {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
}

@media only screen and (max-width: 800px) {
  .middle-container {
    height: 100vw;
    width: 100vw;
  }


  .question-details {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .question-details > h4 {
    margin: 5px;
  }

  .game-container {
    width: 100%;
  }
} 
