.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 500px;
  height: 100%;
  /* background-color: blue; */
  margin: 10px auto;
}

#category-title {
  margin: 20px auto;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #9ad3bc;
}

.category-list {
  /* background-color: red; */
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.categories, .amount-items {
  background-color: #f5b461; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.categories:hover, .amount-items:hover {
  background-color: #9ad3bc;
  color: white;
}

.amount-container {
  margin: 10px auto;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #bbbfca
  /* background-color: hotpink; */
}

.amount-container > h2 {
  font-weight: 700;
}

.amount-list {
  font-weight: 200;
}

.amount {
  padding: 5px;
}




@media only screen and (max-width: 800px) {
  .categories{
    display: block;
    width: 100%;
  }
} 